.titlepage {
  height: 100vh;
  width: 100%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  font-size: 96px;
}
.title p {
  font-size: 20px;
}
.aboutuspage {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.aboutuspage .react-parallax h1 {
  position: relative;
  font-size: 180px;
  color: #f0f0f0;
}
.aboutuspage p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(0%, -50%);
  width: 40%;
}
.whatwedopage{
  position: relative;
  height: 100vh;
}